[program:{{ app_name }}]
command = {{ app.base_path }}/bin/start.bash				; Command to start app
user = {{ webserver.access.user }}								; User to run as
stdout_logfile = {{ app.base_path }}/logs/supervisor.log	; Where to write log messages
strderr_logfile = {{ app.base_path }}/logs/supervisor-errors.log
redirect_stderr = true									; Save stderr in the same log
