#!/bin/bash

NAME="{{ app_name }}"						# Name of the application
VIRTUALENVDIR={{ webserver.virtualenv.path }}				# Virtualenv directory
DJANGODIR={{ app.base_path }}/					# Django project directory
SOCKFILE={{ app.socket.file }}	# we will communicte using this unix socket
USER={{ webserver.access.user }}							# the user to run as
GROUP={{ webserver.access.group }}							# the group to run as
NUM_WORKERS=3									# how many worker processes should Gunicorn spawn
TIMEOUT=30										# Worker timeout
DJANGO_SETTINGS_MODULE={{ project_name }}.conf.settings		# which settings file should Django use
DJANGO_WSGI_MODULE={{ project_name }}.wsgi		# WSGI module name

echo "Starting $NAME"

# Activate the virtual environment
#cd $DJANGODIR
source $VIRTUALENVDIR/bin/activate
export DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE
export PYTHONPATH=$DJANGODIR:$PYTHONPATH

# Create the run directory if it doesn't exist
RUNDIR=$(dirname $SOCKFILE)
test -d $RUNDIR || mkdir -p $RUNDIR

# Start your Django Unicorn
# Programs meant to be run under supervisor should not daemonize themselves (do not use --daemon)
exec $VIRTUALENVDIR/bin/gunicorn ${DJANGO_WSGI_MODULE}:application \
	--name $NAME \
	--workers $NUM_WORKERS \
	--timeout $TIMEOUT \
	--user=$USER --group=$GROUP \
	--log-level=debug \
	--bind=unix:$SOCKFILE
