{% extends "base/base.html" %}
{% load i18n %}
{% load extra_pages_tags %}

{% block content %}
<main id="home" class="container">
	<header class="sub-section-header col-xs-12">
		<h1>{% trans "Boilerplate Template" %}</h1>
	</header>

	<div>
		/*{{ DYNAMIC_SETTINGS }}*/
	</div>

	{% get_static_text "home_title" as title %}
	<div>
		<h2>{{ title.title }}</h2>
		<div>{{ title.text|safe }}</div>
	</div>

	<div>
		<ul>
			{% for product in products %}
			<li>{% include "base/_product_preview.html" with product=product %}</li>
			{% endfor %}
		</ul>
	</div>

	{% display_static_text "home_summary" show_title=True %}
</main>
{% endblock content %}
