{% load i18n %}
{% load extra_language_tags %}

{# languages #}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<nav id="main-nav">
	<div class="relative-inner">
		<ul class="unstyled">
			<li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>

			<ul class="secondary-nav list-unstyled">
				{% for language in languages %}
				{% if not language.code == LANGUAGE_CODE %}
				<li>
					<a href="{{ request.path|change_locale:language.code }}" class="language-switch no-smoothState {% if language.code == LANGUAGE_CODE %}active{% endif %}">
						{{ language.code }}
					</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</ul>
	</div>
</nav>
