{% load i18n %}
{% load static %}

{# languages #}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<header id="site-header" class="">

	<div id="site-header-top">

		<div class="container">

			{# top #}
			<div class="row">

				{% comment %}
				<aside class="col-sm-3 right">
					<nav id="utils-links" class="right">
						{% for language in languages %}
							{% if language.code != LANGUAGE_CODE %}
							<a href="{{ request.path|chlocale:language.code }}" class="language-switch hidden-xs">{{ language.name }}</a>
							{% endif %}
						{% endfor %}
					</nav>
				</aside>
				{% endcomment %}
			</div>
		</div>
	</div>
</header>
